/* Common */

 :root {
    --primary-color: #006CFA;
    --secondary-color: #00E165;
    --border-color: white;
}

[class^="col"]:not(.nasted) {
    background-color: var(--primary-color);
    border: 1px solid var(--border-color);
    height: 30px;
}

.col_6.p_05 {
    height: auto;
}

.nasted {
    background-color: var(--secondary-color);
    border: 1px solid var(--primary-color);
    padding: 0.5rem;
}

.container {
    margin-top: 1rem;
}