/* Common */

:root {
    --primary-color: #006CFA;
    --secondary-color: #00E165;
    --border-color: white;
}

[class^="col"]:not(.nasted) {
    background-color: var(--primary-color);
    border: 1px solid var(--border-color);
    height: 30px;
}

.col_6.p_05 {
    height: auto;
}

.nasted {
    background-color: var(--secondary-color);
    border: 1px solid var(--primary-color);
    padding: 0.5rem;
}

.container {
    width: 1000px;
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translate(-50%);
}

.container:hover {
    animation: moove 10s linear;
}

@keyframes moove {
    0% {
        top: 50px;
        left: 50%;
        transform: translate(-50%);
    }
    10% {
        top: 250px;
        left: 60%;
        transform: translate(-50%);
    }
    20% {
        top: 500px;
        left: 70%;
        transform: translate(-50%);
    }
    30% {
        top: 600px;
        left: 70%;
        transform: translate(-50%);
    }
    40% {
        top: 850px;
        left: 60%;
        transform: translate(-50%);
    }
    50% {
        top: 1000px;
        left: 50%;
        transform: translate(-50%);
    }
    60% {
        top: 850px;
        left: 40%;
        transform: translate(-50%);
    }
    70% {
        top: 600px;
        left: 30%;
        transform: translate(-50%);
    }
    80% {
        top: 500px;
        left: 30%;
        transform: translate(-50%);
    }
    90% {
        top: 250px;
        left: 40%;
        transform: translate(-50%);
    }
    100% {
        top: 50px;
        left: 50%;
        transform: translate(-50%);
    }
}